body{
    background: linear-gradient(to right, #ff69b4, #fff, #ff69b4);
    font-family: DynaPuff, 'Courier New', Courier, monospace;
    text-align: center;
    color: #000;
    padding:20px;
    margin:0;   
    border: 5px solid #ffd700;

    border-radius: 10px;
}

#bb-img {
    width: 400px;
    border-radius: 50%;
    border: 6px solid #ac6ab7;
    margin-bottom: 10px;
}

#emoji {
    text-shadow: 0px 0px 1px #fff;
}

#message {
    display: flex;
    margin: 20px 130px;
    border: 3px solid #ff69b4;
    border-radius: 10px;
    background: #ffe4e1;
    padding: 5px 10px 5px 10px

}
.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-img {
    background-image: url("img/gift-wrapper.jpg");
    margin: 20px auto;
    margin-bottom: 60px;
    max-width: 400px;
    height: 400px;
    background-size: cover;
    border: 6px solid white;
    border-radius: 10px;
}



#gift-img-happy:hover {
    background-image: url("img/happie.gif");
}
#gift-img-wink:hover {
    background-image: url("img/inlove.gif");
}
#gift-img-excited:hover {
    background-image: url("img/excited.gif");
}
#gift-img-fan:hover {
    background-image: url("img/fan.gif");
}